* {
    max-width: 800px;
    margin: auto;
}

html {
    background-color: rgba(235, 239, 255);
}

body {
    min-width: 500px;
    text-align: center;
}

div {
    border-radius: 5px;
}

#header {
    height: 5em;
    background-color: rgba(154, 154, 247, 0.548);
    position: fixed;
    z-index: 1;
    width: 100vw;
    padding: 0;
    margin: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_menu {
    text-align: left;
    padding-right: 2.2em;
}

#nav_menu ul {
    list-style-type: none;
}

#nav_menu ul li {
    display: inline;
    padding: 0 1em; 
}

#nav_menu ul li a {
    font-weight: bold;
    color: rgba(0, 138, 170, 0.548);
    text-decoration: none;
    font-size: 1.4em;
}

#nav_menu ul li a.current {
    text-decoration: none;
}

#nav_menu ul li a:hover {
    color: rgba(101,110,211);
}

#footer {
    height: 1em;
    width: 100%;
    padding-top: 1.9em;
    padding-bottom: 1em;
    background-color: rgba(154, 154, 247, 0.548);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left {
    height: 70em;
    width: 45px;
    background-color: rgba(0, 138, 170, 0.548);
    float: left;
    position: fixed;
}
  
.right {
    height: 70em;
    width: 45px;
    background-color: rgba(0, 138, 170, 0.548);
    float: right;
    position: initial;
}

.stuff {
    display: inline-block;
    margin-top: 6px;
    margin-left: 55px;
    width: 75%;
    height: 1000px;
}

#welcome1 {
    padding-top: 3.5em;
    padding-bottom: 2em;
}

#aboutMe {
    font-size: 160%;
}

p {
    font-family: Verdana, Tahoma, sans-serif;
    color: rgba(59, 186, 219);
    font-size: 140%;
}

h1 { 
    font-size: 200%;
    padding-bottom: 1em;
}

h4 {
    font-size: 20px;
    padding-top: .5em;
    padding-bottom: .3em;
}

button {
    margin-top: 1em;
    margin-right: .5em;
    margin-left: .5em;
    border-radius: 1.2em;
    font-size: 170%;
    border-color: white;
    font-family: Verdana, Tahoma, sans-serif;
}

#hireMe {
    background-color: rgba(0, 138, 170, 0.548);
}

#sampleWork {
    background-color: rgba(154, 154, 247, 0.548);
}

img {
    margin-top: 1em;
    width: 500px;
}

#contactMe {
    color: black;
    font-size: 1em;
    height: 1.5em;
    font-size: 100%;
    padding-bottom: 0.5em;
    margin: 0%;
}
